
# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/libraries
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/default
/docroot/sites/default/files
/docroot/web.config
/docroot/update.php
/docroot/index.php
/docroot/.htaccess
/docroot/sites
/docroot/autoload.php

README.md
acquia-pipelines.yml

# Ignore Composer-managed dependencies.
vendor/

# Ignore Netbeans
nbproject/
/docroot/.ht.router.php
/docroot/.gitattributes
/docroot/.eslintrc.json
/docroot/.eslintignore
/docroot/.editorconfig
/docroot/.csslintrc

#Ignore MyNotes
MyNotes/